* {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	list-style: none;
}

html,
body {
	min-height: 100vh;
}

body {
	background-color: #1e1e1e;
}

header {
	width: 100%;
	min-height: 12.5rem;
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		top: -0.875rem;
	}

	@media (max-width: 768px) {
		min-height: 8rem;
	}
}

.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: -2.75rem;
	padding: 1rem;

	form {
		width: 100%;
		max-width: 46rem;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		gap: 0.5rem;
		margin-bottom: 3rem;

		input {
			background-color: #262626;
			border: none;
			padding: 1rem;
			width: 100%;
			border-radius: 8px;
			font-size: 1rem;
			border: 1px solid #0d0d0d;
			color: #f2f2f2;
		}

		button {
			background-color: #1e6f9f;
			border: none;
			border-radius: 8px;
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.25rem;
			color: white;
			font-weight: bold;
			font-size: 0.875rem;
			cursor: pointer;
			transition: background ease 0.3s, opacity ease 0.3s;

			&:hover {
				background-color: #4ea8de;
			}

			&:disabled {
				cursor: not-allowed;
				opacity: 0.75;
				background-color: #1a1a1a;
				color: #808080;
			}
		}
	}

	.report {
		width: 100%;
		max-width: 46rem;
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;

		.created {
			font-size: 0.875rem;
			color: #4ea8de;
			font-weight: bold;
			line-height: 1.25rem;

			span {
				color: white;
				background-color: #333333;
				font-size: 0.875rem;
				font-weight: bold;
				padding: 0.1rem 0.5rem;
				border-radius: 8px;
				margin-left: 0.25rem;
			}
		}

		.checked {
			font-size: 0.875rem;
			color: #8284fa;
			font-weight: bold;
			line-height: 1.25rem;

			span {
				color: white;
				background-color: #333333;
				font-size: 0.875rem;
				font-weight: bold;
				padding: 0.1rem 0.5rem;
				border-radius: 8px;
				margin-left: 0.25rem;
			}
		}
	}

	ul {
		width: 100%;
		max-width: 46rem;

		li {
			color: #f2f2f2;
			font-size: 0.875rem;
			background-color: #262626;
			border: 1px solid #333333;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			gap: 1rem;
			padding: 1rem;
			margin-bottom: 1rem;
			cursor: pointer;
			transition: background ease 0.2s;

			&:hover {
				background-color: #333333;
			}

			&.checked {
				text-decoration: line-through;
				color: #808080;
			}

			.icon {
				padding-top: 0rem;
			}

			.text {
				flex-grow: 1;
			}

			button {
				color: #808080;
				background-color: transparent;
				line-height: 0;
				border: none;
				cursor: pointer;
				padding: 2px;

				&:hover svg {
					color: tomato;
					border-radius: 8px;
				}
			}
		}
	}

	.message {
		width: 100%;
		max-width: 46rem;
		text-align: center;
		padding: 4rem;
		border-top: 1px solid #333333;

		.icon {
			margin-bottom: 1rem;
		}

		p {
			color: #808080;
			text-align: center;

			strong {
				font-weight: bold;
			}
		}
	}
}
